<template>
  <div id="app" class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <h2>Подскажу адрес</h2>
            <p>Начните ввод адреса в поле ниже, а там посмотрим&hellip;</p>
            <TypeAhead src="/search?keyword=:keyword" :getResponse="getResponse" :minChars="3" :limit="6" :placeholder="'Например, Кулёва дом 6'" :onHit="onTouch"></TypeAhead>

            <div class="mt-4" v-if="current !== null">
                <h3>Ваш выбор</h3>
                <table class="table">
                    <tr><th>Адрес</th><td>{{current.address}}</td></tr>
                    <tr><th>Координаты</th><td>{{current.point[0]}}, {{current.point[1]}}</td></tr>
                </table>
            </div>

            <p class="mt-4">Посмотреть <a href="#" v-on:click.prevent="getHistory">последние 30 запросов</a></p>

            <div class="mt-4" v-if="history !== null">
                <h3>История запросов</h3>
                <table class="table">
                    <tr><th>#</th><th>Дата</th><th>Запрос</th></tr>
                    <tr v-for="i in history">
                        <td>{{i.id}}</td>
                        <td>{{i.created}}</td>
                        <td>{{i.request}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import TypeAhead from 'vue2-typeahead/src/components/TypeAhead.vue';
import axios from 'axios';

export default {
    name: 'App',
    data: function() {
        return {
            current: null,
            history: null,
            points: []
        }
    },
    components: {
        TypeAhead
    },

    methods: {
        getResponse: function (response) {
            this.points = response.data.points;
            return response.data.items
        },
        onTouch: function (item, vue, index) {
            this.current = this.points[index];
            vue.query = item;
            console.log(item);
            console.log(index);
            console.log(vue);
        },
        getHistory: function() {
            axios
                .get('/history')
                .then(response => {
                    this.history = response.data.items;
                })
                .catch(e => {
                    alert('Critical error, please contact technical support.');
                    console.log('error: ' + e);
                });
        }
    }
}
</script>